/* Estilos Gerais */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(120deg, #000000, #ffffff, #af1b85, #11387b);
    background-size: 300% 300%;
    animation: gradientShift 10s infinite ease-in-out;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Estilo para o Card de Login */
.card {
    background-color: rgba(56, 52, 52, 0.9);
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

/* Estilo para o Botão Customizado */
.btn-custom {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #45a049;
}

/* Mensagem de Erro */
#error-message {
    display: none;
    font-size: 0.9rem;
    text-align: center;
    color: #d9534f;
    /* Vermelho para erro */
}

/* Estilo para Login */
body.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}